* {
  font-family: "Georama", sans-serif;
}
.tv9-interactives {
  text-align: center;
  padding: 0px 15px;
}
.tv9-interactives .row {
  text-align: center;
  margin-bottom: 15px;
}
.tv9-interactives .title {
  font-size: 22px;
  margin: 0 0 15px 0;
}
.tv9-interactives .desc {
  font-size: 13px;
  line-height: 16px;
}

#caste-selector {
  background-color: #d3def8;
  width: 130px;
  border: none;
  padding: 2px 8px;
  color: #000;
}
.influence {
  font-size: 14px;
  font-weight: 500;
}

.row hr {
  border: 1px dotted #000;
  margin: 15px auto 0 auto;
  width: 20%;
}
#errormessage {
  text-align: center;
}
#error {
  color: red;
  display: block;
  /* margin-bottom: 15px; */
}

#chosenCaste,
#chosenCasteSeats {
  display: inline-block;
  background-color: #e8e8e8;
  font-weight: 600;
  line-height: 16px;
}
#chosenCaste {
  min-width: 68px;
}
#chosenCasteSeats {
  min-width: 28px;
}
.slidersection {
  width: 100%;
  max-width: 600px;
  margin: 10px auto;
}
.row {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.slidecontainer {
  width: 100%;
  text-align: center;
  margin: 0 auto 35px auto;
}
.slidecontainer p {
  font-size: 12px;
  margin: 0 0 10px 0;
  line-height: 12px;
}

.slidecontent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2.5%;
  /* margin-left: -2%; */
}

.slidecontainer span.min {
  /* width: 1%; */
  flex: 1;
  font-size: 12px;
  line-height: 14px;
  font-weight: 600;
}
.slidecontainer span.max {
  /* width: 1%; */
  flex: 1;
  font-size: 12px;
  line-height: 14px;
  font-weight: 600;
}
.slidecontainer div.slideblock {
  width: 100%;
  position: relative;
}
span.party {
  font-size: 12px;
  font-weight: 600;
  width: 15%;
}

span.value {
  position: absolute;
  top: -12px;
  flex: 1;
  font-size: 14px;
  font-weight: bold;
  margin-left: -4px;
  opacity: 0;
}
span.dfault-arrow {
  /* position: absolute;
  top: 5px;
  left: 0;
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  overflow: hidden;
  background-color: #000;
  width: 1px;
  height: 1px;
  z-index: -1;
  opacity: 0;
  transition: all 0.5s; */
  position: absolute;
  top: 14px;
  left: 0;
  border-left: 1px solid black;
  /* border-width: 1px; */
  display: inline-block;
  padding: 0;
  /* transform: rotate(45deg); */
  /* -webkit-transform: rotate(45deg); */
  overflow: hidden;
  background-color: #000;
  width: 1px;
  height: 10px;
  z-index: -1;
  opacity: 0;
  transition: all 0.5s;
}
span.dfault-val {
  position: absolute;
  top: 25px;
  margin-left: -8px;
  padding-bottom: 2px;
  opacity: 0;
  /* left: 0; */
  transition: all 0.5s;
  font-size: 11px;
  font-weight: bold;
  background-color: #fff;
  z-index: 2;
  line-height: 12px;
  width: fit-content;
}

span.dfault-val.left::before {
  color: #000;
  position: absolute;
  right: 35px;
  content: "2017 vote share";
  width: 78px;
  text-align: left;
  font-size: 9px;
}
span.dfault-val.right::after {
  color: #000;
  position: absolute;
  left: 26px;
  content: "2017 vote share";
  width: 86px;
  text-align: right;
  font-size: 9px;
}
span.dfault-val.right-single::after {
  color: #000;
  position: absolute;
  left: 20px;
  content: "2017 vote share";
  width: 86px;
  text-align: right;
  font-size: 9px;
}

/* THUMB of the Slider */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* visibility: hidden; */
  /* display: none; */
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: rgb(137, 230, 137);
  border: 5px solid #000;
  margin-top: 0;
  z-index: 5;
}

.slidecontainer#rangeBJP input[type="range"]::-webkit-slider-thumb {
  background: #fff;
  border: 5px solid #ff9800;
}

.slidecontainer#rangeSP input[type="range"]::-webkit-slider-thumb {
  background: #fff;
  border: 5px solid #f44336;
}

.slidecontainer#rangeBSP input[type="range"]::-webkit-slider-thumb {
  background: #fff;
  border: 5px solid #36a9e1;
}

.slidecontainer#rangeCongress input[type="range"]::-webkit-slider-thumb {
  background: #fff;
  border: 5px solid #3aaa35;
}

.slidecontainer#rangeOthers input[type="range"]::-webkit-slider-thumb {
  background: #fff;
  border: 5px solid #797979;
}

.slidecontainer input[type="range"] {
  -webkit-appearance: none;
  background: linear-gradient(
    to right,
    #040 var(--value),
    #0c0 0,
    #0c0 var(--max),
    #fdd 0
  );
  height: 5px;
  width: 100%;
}

.slidecontainer#rangeBJP input[type="range"] {
  -webkit-appearance: none;
  background: linear-gradient(
    to right,
    #ff9800 var(--value),
    #ffcc80 0,
    #ffcc80 var(--max),
    #fff3e0 0
  );
  /* height: 5px; */
}

.slidecontainer#rangeSP input[type="range"] {
  -webkit-appearance: none;
  background: linear-gradient(
    to right,
    #f44336 var(--value),
    #ef9a9a 0,
    #ef9a9a var(--max),
    #ffebee 0
  );
  /* height: 5px; */
}
.slidecontainer#rangeBSP input[type="range"] {
  -webkit-appearance: none;
  background: linear-gradient(
    to right,
    #2196f3 var(--value),
    #90caf9 0,
    #90caf9 var(--max),
    #e3f2fd 0
  );
  /* height: 5px; */
}
.slidecontainer#rangeOthers input[type="range"] {
  -webkit-appearance: none;
  background: linear-gradient(
    to right,
    #767573 var(--value),
    #a8a59f 0,
    #a8a59f var(--max),
    #ddd 0
  );
  /* height: 5px; */
}
.slidecontainer#rangeCongress input[type="range"] {
  -webkit-appearance: none;
  background: linear-gradient(
    to right,
    #4caf50 var(--value),
    #81c784 0,
    #81c784 var(--max),
    #e8f5e9 0
  );
  /* height: 5px; */
}

/* Modal box */
/* ============================================================== */
.UPCasteEq_buttons button,
#closeModel2 {
  font-family: "Georama", sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  border: none;
  outline: none;
  padding: 5px 10px;
}

.UPCasteEq_model {
  position: absolute;
  background-color: #ebebeb;
  /* border-radius: 16px; */
  z-index: 1000;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* margin-top: -100px; */
  width: 80%;
}

.UPCasteEq_model_blackout {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* margin-top: 35px; */
  width: 100%;
  height: 100%;
}

#methodology {
  width: 100%;
  text-align: center;
}
#methodology h2 {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

#methodology p {
  font-size: 12px;
  line-height: 16px;
  font-family: "Georama", sans-serif;
  margin-bottom: 15px;
}

.dom-voters-text {
  font-family: "Georama", sans-serif;
  font-size: 12px;
  line-height: 14px;
  margin-top: 10px;
  padding-top: 5px;
  border-top: 1px solid #ccc;
  display: block;
}

#closeModel {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #000;
  color: #fff;
  outline: none;
  border: none;
}

.result_header,
.result_header .div,
.result_body {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
.result_header .div span,
.result_body #userPrediction,
.result_body #modelPrediction {
  display: block;
}
.result_body div:first-child {
  color: #bf6c1e;
}

.result_body #userPrediction,
.result_body #modelPrediction {
  font-size: 28px;
  font-weight: 700;
}
.result_body div:last-child {
  color: #56b635;
}
.result_body {
  margin-bottom: 15px;
}
.result_body div b {
  font-size: 12px;
  display: block;
  line-height: 14px;
  margin-bottom: 10px;
}
.result_header div b {
  font-size: 12px;
  display: block;
  line-height: 14px;
  margin-bottom: 5px;
}

.result_header {
  margin: 10px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}

#result {
  text-align: center;
}

#result ul li {
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  margin: 0 0 10px 0;
}
#result ul li span {
  font-weight: 700;
}
#result p:nth-child(1) {
  margin-bottom: 10px;
}
#result .result_body {
  margin: 15px 0;
}
#result .seatsWrap {
  border-top: 1px solid #000;
  padding: 8px 0 8px 0;
  color: #000;
  font-weight: 600;
}
.bjpstr,
.spstr {
  text-align: center;
  font-size: 12px;
}
#result h3 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}
#result p.precent {
  color: #999;
  font-weight: 700;
  padding: 5px 0 8px 0;
  font-size: 14px;
  line-height: 14px;
}
#result p.seats {
  font-weight: 900;
  font-size: 17px;
  margin: 0;
  line-height: 14px;
}
#result p.seats small {
  font-size: 11px;
  font-weight: 600;
}
#result p.changeinseats {
  font-weight: 600;
  font-size: 14px;
}
#result .lost p,
#result .won p,
#result .neutral p {
  margin: 0;
  text-transform: lowercase;
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  position: relative;
}

/* sliderFun("bjp", "#F47216")
            sliderFun("sp", "#ff0000")
            sliderFun("bsp", "#36A9E1")
            sliderFun("congress", "#3AAA35")
            sliderFun("others", "#797979") */
#result #bjpstr span,
#result #bjp h3,
#rangeBJP span.value,
#rangeBJP span.party {
  color: #f47216;
}
#result #spstr span,
#result #sp h3,
#rangeSP span.value,
#rangeSP span.party {
  color: #ff0000;
}
#result #bspstr span,
#result #bsp h3,
#rangeBSP span.value,
#rangeBSP span.party {
  color: #36a9e1;
}
#result #congressstr span,
#result #congress h3,
#rangeCongress span.value,
#rangeCongress span.party {
  color: #3aaa35;
}
#result #othersstr span,
#result #others h3,
#rangeOthers span.value,
#rangeOthers span.party {
  color: #797979;
}
#result .neutral p {
  color: #666;
}
#result .lost p {
  color: red;
}
#result .won p {
  color: green;
}

#method {
  background-color: #d3def8;
  border: none;
  outline: none;
  font-size: 12px;
  padding: 3px 5px;
  color: #000;
  margin-top: 10px;
}

.flex-group select,
.flex-group .influence {
  margin-bottom: 15px;
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
  /* .flex-group {
    display: flex;
    column-gap: 20px;
    justify-content: center;
    margin-bottom: 15px;
  } */
  span.party {
    width: 12%;
  }
}
@media (min-width: 960px) {
  /* .flex-group {
    display: flex;
    column-gap: 20px;
    justify-content: center;
    margin-bottom: 15px;
  } */
  .UPCasteEq_model {
    width: 36%;
  }
}
